.primary-btn {
    border-radius: 42px;
    background: $primary-color;
    color: #FFF;
    font-family: $body-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%; /* 26.98px */
    letter-spacing: -0.19px;
    padding: 16px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: linear-gradient(88deg, #7A3DF0 1.63%, #C236A7 37.91%, #F43B3B 66.21%, #F85A29 83.03%, #F98F1D 98.37%);
    }
}

.secondary-btn {
    border-radius: 42px;
    background: $primary-color;
    color: #FFF;
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%; /* 26.98px */
    letter-spacing: -0.19px;
    padding: 13px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}