.bottom-footer .icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: $secondary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.42px;
}

.separator {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}
