.Nbd-footer {
  background: #F5F5F5;
  .top {
    .container {
      .row {
        --bs-gutter-x: 0px;
      }
      ul {
        padding-left: 0;
        padding-top: 32px;
      }
      li {
        padding-top: 1rem;

        &:first-child {
          padding-top: 0;
        }

        a span {
          border-radius: 36px;
          background: #4B22E0;
          color: #FFF;
          font-size: 12px;
          padding: 6px 12px;
          margin-left: .5rem;
          font-weight: 400;
        }
      }

      .quick-contact {
        border-radius: 1rem;
        border: 1px solid #CCC;
      }

      .contact-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 1rem;
      }

      .contact {
        padding: 18px 24px;
        border-radius: 56px;
        color: #fff;
        background-color: #000000;
        display: inline-flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .copyright {
    border-top: 1px solid #CCC;
    padding: 24px 0;

    .copyright-text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .terms-condition {
        display: flex;
        gap: 16px;
      }
    }
  }
}

@media (max-width:991px) {
  .Nbd-footer {
    .container {
      .row {
        --bs-gutter-y: 40px;
      }
    }
  }
}

@media (max-width:767px) {
  .Nbd-footer {
    .copyright-text {
      align-items: center;
      flex-direction: column;
      gap: 24px;
    }
  }
}
