<header>
	<div class="container">
		<input type="checkbox" name="check" id="check">
		<div class="logo-container">
			<a href="index.html"><img src="img/header-logo.svg" alt=""></a>
		</div>
		<div class="nav-btn">
			<div class="nav-links">
				<ul>
					<li class="nav-link">
						<a href="">Case study</a>
					</li>
					<li class="nav-link services">
						<a href="">Services
						<img src="img/dropdown-arrow.svg" alt="" class="nav-arrow"></a>
						<div class="header-megamenu">
							<div class="dropdown-inner">
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Product  Development </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>UX Design</p>
											<p>Web Development</p>
											<p>Mobile Application Development</p>
											<p>Custom Software Solutions</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>AI &amp; ML Solutions </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Predictive Analytics</p>
											<p>AI-Powered Automation</p>
											<p>Natural Language Processing (NLP)</p>
											<p>Machine Learning Models</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Mobile App Development </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>iOS Apps</p>
											<p>Android Apps</p>
											<p>Cross-Platform Apps</p>
											<p>App Maintenance &amp; Updates</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Technology Integration </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Cloud Solutions</p>
											<p>AI &amp; Machine Learning</p>
											<p>Cybersecurity</p>
											<p>IoT Development</p>
											<p>Blockchain Integration</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Brand Building </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Brand Strategy</p>
											<p>Logo Design</p>
											<p>Identity Development</p>
											<p>Packaging</p>
											<p>Storytelling</p>
											<p>Rebranding</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Digital Marketing </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Search Engine Optimization (SEO)</p>
											<p>Social Media Optimization (SMO)</p>
											<p>Email Marketing</p>
											<p>Social Media Advertising</p>
											<p>Lead Nurturing</p>
											<p>Analytics &amp; Reporting</p>
											<p>WhatsApp Marketing</p>
											<p>Marketing Automation</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Engagement &amp; Content Creation </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Video Production</p>
											<p>Content Strategy</p>
											<p>Social Media Management</p>
											<p>Copywriting</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Data Science &amp; Engineering </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Big Data Analytics</p>
											<p>Data Architecture</p>
											<p>Data Visualization</p>
											<p>Business Intelligence</p>
										</div>
									</a>
								</div>
								<div class="inner-col">
									<a href="">
										<div class="top">
											<h5>Custom Software Solutions </h5>
											<img src="/img/arrow-right-header.svg" alt="">
										</div>
										<div class="bottom-links">
											<p>Enterprise Software Development</p>
											<p>API Development &amp; Integration</p>
											<p>Cloud-Based Solutions</p>
											<p>Software Maintenance &amp; Support</p>
										</div>
									</a>
								</div>

							</div>
						</div> 
					</li>

					<li class="nav-link">
						<a href="">Clients & Industries</a>
					</li>

					<li class="nav-link">
						<a href="">Company</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="flex">
			<div class="cta-btn">
				<a href="" class="primary-btn">
					Lets talk
				</a>
			</div>
			<div class="hamburger-menu-container">
				<div class="hamburger-menu">
					<div></div>
				</div>
			</div>
		</div>
		
	</div>
</header>